* {
    margin: 0%;
    padding: 0%;

}

#cartinhtm {
    display: none;
}

#cartinhtml {

    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0%;
    position: absolute;
    height: 100vh;
    display: flex;
}

#cartinhtml>div {
    position: absolute;
    /* margin-right: 0%; */
    width: 25%;
    height: 100vh;
    right: 0;
    background-color: #ffffff
}

#cartinhtml>div>div>h4 {
    font-size: 24px;
    font-weight: 1000;
}

#cartinhtml>div>div {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    overflow: hidden;
}

/* #showitemdetiabefor {
    display: none;
} */

#showitemdetial {
    width: 95%;
    margin: auto;
    background-color: green;
    border-radius: 4px;
    color: white;
    position: absolute;
    bottom: 3%;
    left: 3%;
}

#showitemdetial>h5 {

    font-size: 18px;
    font-weight: 700;
}

#closeit {
    cursor: pointer;
}

@media (max-width:1090px) {
    #cartinhtml>div {
        width: 100%;
    }
}

#incarthtmldetial {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#incarthtmldetial>span {
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 2px solid red; */
    /* text-align: center; */

}

#startshopping {
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: green;
    color: white;
    cursor: pointer;

}

#incarthtmldetial>h3 {
    font-weight: 900;
}

#incarthtmldetial>img {
    width: 100%;
}

#finallbill>h6 {
    font-size: 18px;
    font-weight: 800;
}

#incarthtmldetial>span>input {
    width: 40%;
    border-radius: 10px;
    border: 0.5px solid rgb(218, 218, 218);
    padding: 5px 9px;
}