* {
    margin: 0%;
    padding: 0%;

}

#cartinhtm {
    display: none;
}

#cartinhtml {

    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0%;
    position: absolute;
    height: 100vh;
    display: flex;
}

#cartinhtml>div {
    position: absolute;
    /* margin-right: 0%; */
    width: 25%;
    height: 100vh;
    right: 0;
    background-color: #ffffff
}

#cartinhtml>div>div>h4 {
    font-size: 24px;
    font-weight: 1000;
}

#cartinhtml>div>div {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    overflow: hidden;
}

/* #showitemdetiabefor {
    display: none;
} */

#showitemdetial {
    width: 95%;
    margin: auto;
    background-color: green;
    border-radius: 4px;
    color: white;
    position: absolute;
    bottom: 3%;
    left: 3%;
}

#showitemdetial>h5 {

    font-size: 18px;
    font-weight: 700;
}

#closeit {
    cursor: pointer;
}

@media (max-width:1090px) {
    #cartinhtml>div {
        width: 100%;
    }
}

#incarthtmldetial {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#incarthtmldetial>span {
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 2px solid red; */
    /* text-align: center; */

}



#incarthtmldetial>h3 {
    font-weight: 900;
}

#incarthtmldetial>img {
    width: 100%;
}

#finallbill>h6 {
    font-size: 18px;
    font-weight: 800;
}

#incarthtmldetial>span>input {
    width: 40%;
    border-radius: 10px;
    border: 0.5px solid rgb(218, 218, 218);
    padding: 5px 9px;
}

#startshopping {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
    /* width: 20%; */

}



#process>div {
    width: 200px;
    border: 2px solid red;
    padding: 4px 10px;
    height: 310px;
}

#process>div>img {
    width: 100%;
}

#process>div>span {
    width: 100%;
}

#process>div>span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addonchangeclick {
    background-color: rgb(236, 255, 236);
    /* padding: 8px 30px; */
    padding-top: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
    align-content: center;
    border: 1px solid green;
    margin-top: -5px;
    border-radius: 10px;
    color: green;
    cursor: pointer;
}

#process>div>span>span>h5 {
    margin-top: 4%;
    margin-left: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#process>div>h5 {
    font-size: 19=7px;
    font-weight: 400;
}

#process>div>span>p {
    font-size: 19px;
    /* font-weight: bold; */
    font-weight: 600;
}

/* 
#process {
    width: 270px;
    border: 2px solid green;
    overflow: hidden;
}

#carsusal {
    height: 480px;
    transition: all 0.3s ease-in-out;
    display: flex;
    /* overflow: hidden; */

#leftforcarousel {
    background-color: rgb(190, 255, 255);
    font-size: 20px;
    border-radius: 19px;
    padding: 7px;
}

#rightforcarousel {
    background-color: rgb(190, 255, 255);
    font-size: 20px;
    border-radius: 19px;
    padding: 7px;
}

.addqtybuttons {
    /* width: 100%; */
    padding-top: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
    align-content: center;
    border: 1px solid green;
    margin-top: -5px;
    border-radius: 10px;
    color: green;
    cursor: pointer;
    color: white;
    padding: 2px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    background-color: green;
}

.addqtybuttons>span {
    margin-left: 5px;
    margin-right: 5px;
}