#modal_container{
    /* display: none;  */
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.3s ease;
}
#modal_container.show{
    pointer-events: auto;
    opacity: 1;
}
#modals{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 30px 50px;
    width: 500px;
    max-width: 100%;
    text-align: center;
}
#input_container{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.input{
    /* outline: none; */
    margin-top: -5px;
    padding: 3% 6%;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(243, 237, 237);
}
#password{
    margin-bottom: 25px;
}

#cancelBox{
    display: flex;
    /* -ms-flex-align: end;
    border: 1px solid crimson; */

}
#cancel{
    background-color: #fff;
    border: none;
}